{{! Widget with Author information }}
<div class="post-author">
    <div class="row uniform">
        <div class="3u(1) 6u$(4)">
            <div class="author-image">
                <img src="{{author.image}}" />
            </div>
        </div>
        <div class="9u(1) 12u(4)">
            <div class="author-bio row uniform 25%">
                <div class="12u$">
                    <h4>{{author.name}}</h4>
                </div>
                {{#if author.website}}
                <div class="12u$">
                    <p><a href="{{author.website}}">{{author.website}}</a></p>
                </div>
                {{/if}}
                <div class="12u$">
                    {{>social-icons}}
                </div>
                <p>{{author.bio}}</p>
            </div>
        </div>
    </div>
</div>
