{{! Default Sharing Icons }}

<ul class="icons">
    <li><a href="http://www.facebook.com/sharer.php?u={{@blog.url}}{{url}}" class="icon fa-facebook-square"></a></li>
    <li><a href="http://twitter.com/share?text={{title}}%20by%20{{author.name}}&url={{@blog.url}}{{url}}" class="icon fa-twitter-square"></a></li>
    <li><a href="https://plus.google.com/share?url={{@blog.url}}{{url}}" class="icon fa-google-plus-square"></a></li>
</ul>
