<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <!--[if lte IE 8]><script src="{{asset "js/html5shiv.js"}}"></script><![endif]-->

    {{! Load your Google Fonts Here }}
    <link href="//fonts.googleapis.com/css?family=Average&subset=latin" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    {{! Styles'n'Scripts }}
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>

    <!-- SkelJS Framework by n33co -->
    <script src="{{asset "js/skel.min.js"}}"></script>
    <script src="{{asset "js/skel-layers.min.js"}}"></script>

    <!-- Poptrox by n33co -->
    <script src="{{asset "js/jquery.poptrox.min.js"}}"></script>

    <!-- jQuery Waypoints by Caleb Troughton -->
    <script src="{{asset "js/waypoints.min.js"}}"></script>

    <!-- Smooth Scroll by Karl Swedberg -->
    <script src="{{asset "js/jquery.smooth-scroll.js"}}"></script>

    <script type="text/javascript">
        var themeUrl = '{{@blog.url}}';
    </script>

    <!-- Main JS Initialization -->
    <script src="{{asset "js/init.js"}}"></script>

    <noscript>
        <link rel="stylesheet" href="{{asset "css/skel.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style-xlarge.css"}}" />
    </noscript>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body id="top" class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            &copy; Untitled. All rights reserved.
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
