{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{#post}}
{{>intro/intro-page}}

<section id="main" class="container">
    <div class="row uniform">
        <div class="post-container">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>
            <hr/>
            {{#if image}}<a href="{{url}}" class="feature-image"><img src="{{image}}" /></a>{{/if}}
            <article class="{{post_class}} single 12u$">
                <section class="post-content">{{content}}</section>
            </article>
        </div>
    </div>
</section>

{{/post}}
