<!-- Intro for Posts -->
{{>header/header-default}}
<!-- Banner -->
<section id="banner" style="{{#if image}}background:-webkit-linear-gradient(rgba(155,155,155,0.65),rgba(155,155,155,0.65)), url({{image}}); background:-linear-gradient(rgba(155,155,155,0.65),rgba(155,155,155,0.65)), url({{image}});background-size:cover,cover;{{else}}background:-webkit-linear-gradient(rgba(155,155,155,0.65),rgba(155,155,155,0.65)), url({{@blog.cover}}); background:-linear-gradient(rgba(155,155,155,0.65),rgba(155,155,155,0.65)), url({{@blog.cover}});background-size:cover,cover;{{/if}}">
</section>
